h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 3em;
  font-style: italic;
}
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  font-style: italic;
}
p{
  margin: 0.2em;
  padding: 0;
}

#main  {
  width: 23em;
  margin: auto;
  padding: 0;
}
form{
  padding: 0;
  margin: 0;
}
#userInput{
  width: 16em;
  padding: 0;
  margin: 0;
}
#userSubmit{
  width: 4em;
  padding: 0;
  margin: 0;
}
.space{
  display: inline-block;
  width: 0em;
}
.user{
  color: #1565c0;
}
.bot{
  color: #4caf50;
}
